.bottomright {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  top: 0;
  right: 0px;
  padding: 1px;
  width: 100px;
  background-color: yellow;
  border: 2px solid blue;
  font-size: 20px;
  text-align: center;
}

#dateTime {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  top: 0;
  right: 0px;
  padding: 1px;
  width: 300px;
  background-color: yellow;
  border: 2px solid blue;
  font-size: 18px;
  text-align: center;
}

red {
  color: red;
}

@media print {
.hidden {
  display: none !important;
  }
page {
  break-before: page;
 }
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* เพิ่มขนาดฟอนต์ */
.increaseBtn {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  top: 40px;
  right: 0px;
  padding: 1px;
  width: 50px;
  background-color: yellow;
  border: 2px solid blue;
  font-size: 20px;
  text-align: center;
}
/* ลดขนาดฟอนต์ */
.decreaseBtn {
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  top: 70px;
  right: 0px;
  padding: 1px;
  width: 50px;
  background-color: yellow;
  border: 2px solid blue;
  font-size: 20px;
  text-align: center;
}

td:hover {
  background-color: greenyellow;
}

